body{

background:#ffd6e7;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

overflow:hidden;

}

#foto{
    display:none;
    opacity:0;
    transition:opacity 1s;
}

#pantalla{

text-align:center;

width:90%;

}

h1{

color:#ff0066;

font-size:45px;

}

p{

font-size:24px;

white-space:pre-line;

min-height:180px;

}

button{

padding:18px 40px;

font-size:22px;

border:none;

border-radius:15px;

background:#ff4d88;

color:white;

cursor:pointer;

}

button:hover{

transform:scale(1.1);

}

img{
    display:block;
    width:260px;
    max-width:90%;
    margin:20px auto;
    border-radius:20px;
    box-shadow:0 0 20px gray;
}

#contador{

font-size:70px;

color:red;

margin-top:40px;

font-weight:bold;

}

.latido{
animation:latido 1s infinite;
}
.corazon{

position:absolute;
pointer-events:none;
user-select:none;

animation: caer 5s linear forwards;

}
@keyframes latido{

0%{transform:scale(1);}
50%{transform:scale(1.15);}
100%{transform:scale(1);}

}
#texto{
display:inline-block;
}

.latido{
animation: latido 1s ease-in-out infinite;
}

@keyframes latido{
0%{
transform: scale(1);
}

50%{
transform: scale(1.08);
}

100%{
transform: scale(1);
}
}
@keyframes caer{

0%{
transform:translate(0,-300px) rotate(0deg);
opacity:1;
}

25%{
transform:translate(-20px,25vh) rotate(90deg);
}

50%{
transform:translate(20px,50vh) rotate(180deg);
}

75%{
transform:translate(-15px,75vh) rotate(270deg);
}

100%{
transform:translate(15px,120vh) rotate(360deg);
opacity:0;
}

}
#texto{
    display:inline-block;
}

.latido{
    animation:latido 1.2s ease-in-out infinite;
}

@keyframes latido{

0%{
    transform:scale(1);
}

25%{
    transform:scale(1.03);
}

50%{
    transform:scale(1.08);
}

75%{
    transform:scale(1.03);
}

100%{
    transform:scale(1);
}

}

.corazonFinal{
    display:inline-block;
    font-size:70px;
    animation:latidoCorazon .8s ease-in-out infinite;
}

@keyframes latidoCorazon{

0%{
    transform:scale(1);
}

15%{
    transform:scale(1.35);
}

30%{
    transform:scale(1);
}

45%{
    transform:scale(1.25);
}

100%{
    transform:scale(1);
}

}
